/*
 * Noto Sans Webfont
 */
@font-face {
    font-family: 'Noto-Sans';
    font-style: normal;
    font-weight: 200;
    src: local('Noto Sans CJK KR Light'), local('Noto Sans CJK KR-Light');
    src: font-url('NotoSansCJKkr-Light.eot');
    src: font-url('NotoSansCJKkr-Light.eot?#iefix') format('embedded-opentype'),
    font-url('NotoSansCJKkr-Light.woff') format('woff'),
    font-url('NotoSansCJKkr-Light.otf') format('truetype');
}

@font-face {
    font-family: 'Noto-Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans CJK KR Regular'), local('Noto Sans CJK KR-Regular');
    src: font-url('NotoSansCJKkr-Regular.eot');
    src: font-url('NotoSansCJKkr-Regular.eot?#iefix') format('embedded-opentype'),
    font-url('NotoSansCJKkr-Regular.woff') format('woff'),
    font-url('NotoSansCJKkr-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'Noto-Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Noto Sans CJK KR Medium'), local('Noto Sans CJK KR-Medium');
    src: font-url('NotoSansCJKkr-Medium.eot');
    src: font-url('NotoSansCJKkr-Medium.eot?#iefix') format('embedded-opentype'),
    font-url('NotoSansCJKkr-Medium.woff') format('woff'),
    font-url('NotoSansCJKkr-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'Noto-Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans CJK KR Bold'), local('Noto Sans CJK KR-Bold');
    src: font-url('NotoSansCJKkr-Bold.eot');
    src: font-url('NotoSansCJKkr-Bold.eot?#iefix') format('embedded-opentype'),
    font-url('NotoSansCJKkr-Bold.woff') format('woff'),
    font-url('NotoSansCJKkr-Bold.otf') format('truetype');
}
